body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.clicker-body {
  background-image: url(./images/field-background.jpg);
  height: 100%;
  background-size: cover;
  padding: 24px;
}

.clicker-title {
  text-align: center;
  font-size: 32px;
  color: beige;
  font-weight: 700;
}

.clicker-descr {
  text-align: center;
  color: beige;
  margin-top: 16px;
  font-weight: 400;
}

.clicker-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.clicker-timer {
  font-size: 32px;
  color: beige;
  font-weight: 600;
}

.clicker-span {
  margin-top: 16px;
  font-size: 32px;
  color: beige;
  font-weight: 600;
}

.clicker-btn {
  padding: 24px 64px;
  margin-top: 16px;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  color: beige;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 7px 11px 36px -11px rgba(61, 11, 8, 1);
}
